li{
  a:hover{
    text-decoration: underline;
  }
}


@media (max-width: 992px) {
  .social{
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .col-md-8{
    margin-top: 3%;
  }
}

@media (max-width: 576px) {
  .footer-text{
    li{
      margin: 5% 0;
      text-align: center;
      }
  }
}
