.modal-warn{
  color: #B73737;
}

.btn-outline-secondary{
  height: 50px;
  width: 120px;
  border-color: #828282;
  color: #828282;
  margin-right: 5% ;
  &:hover{
    color:#ffffff;
  }

  &:active:hover{
    border-color: #828282;
    color: #828282;
  }
&:active:focus{
  border-color: #828282;
  color: #828282;
  }
}

@media (max-width: 393px){
  h3{
    font-size: 20px;
  }
}

.btn-outline-primary{
  height: 50px;
  width: 120px;
}
